<section class="hero">
  <div class="hero-head">
    <div class="container">
      <%= render partial: 'nav' %>
    </div>
  </div>
  <div class="hero-body" style="padding-top:16px;">
    <div class="container">
      <div class="columns">
        <div class="column is-8">
          <div class="tabs is-centered">
            <ul>
              <li class="is-active"><a id="screenshot"><i class="fa fa-picture-o" aria-hidden="true"></i><span style="padding-left:8px;">Screenshot</span></a></li>
              <li><a id="video"><i class="fa fa-play" aria-hidden="true"></i><span style="padding-left:8px;">Video</span></a></li>
            </ul>
          </div>
          <figure style="border-style:solid;border-color:#000;border-width:1px;">
            <img src="/sample.png" style="width: 100%;height:auto;" />
          </figure>
          <%= render partial: 'video' %>
        </div>
        <div class="column is-4">
          <div class="tabs is-centered">
            <ul>
              <li><a style="pointer-events: none;cursor: default;"><i class="fa fa-laptop" aria-hidden="true"></i><span style="padding-left:8px;">Workflow</span></a></li>
            </ul>
          </div>
          <%= form_tag('/demo', method: :post, class: 'control is-grouped') do %>
            <p class="control is-expanded">
              <%= url_field_tag 'url', '', class: 'input', placeholder: 'https://www.google.com' %>
            </p>
            <p class="control">
              <%= submit_tag 'See It Action', class: 'button is-info' %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render partial: 'subscribe' %>
<%= render partial: 'footer' %>
